n8n/workflow-backup.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bling.com.br/Api/v3/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "1.0"
            },
            {
              "name": "Authorization",
              "value": "=Basic md5()"
            },
            {
              "name": "Cookie",
              "value": "PHPSESSID=0jsjfmmdrubaavk30khaa3rm2p"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Get a row').item.json.refresh_token }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "name": "Enviar ao Bling",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        560,
        128
      ],
      "id": "f292063d-a5f7-41ed-ad89-55bd99510f3a"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        128
      ],
      "id": "2df6d61d-efdd-4dd0-bffc-33c189bd8dd6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "integrations",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "bling"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        368,
        128
      ],
      "id": "50337cab-a449-484d-8cd7-83a56275f961",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "HqhNaW2yqDI9W3XS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "integrations",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get a row').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "token",
              "fieldValue": "={{ $json.access_token }}"
            },
            {
              "fieldId": "refresh_token",
              "fieldValue": "={{ $json.refresh_token }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        128
      ],
      "id": "9c1444d2-abea-4948-86fc-621bba68d92f",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "HqhNaW2yqDI9W3XS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zapi-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ae1df4e3-0410-4b69-8ecb-5337473ec475",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -448,
        544
      ],
      "webhookId": "zapi-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\n\nif (!body || !body.products || !Array.isArray(body.products)) {\n  throw new Error('❌ Formato inválido');\n}\n\nif (body.products.length === 0) {\n  throw new Error('❌ Nenhum produto');\n}\n\nif (!body.integrations || !Array.isArray(body.integrations)) {\n  throw new Error('❌ Nenhuma integração');\n}\n\nreturn { json: body };"
      },
      "id": "c4309590-b569-42c5-ac4a-38ee64bd2756",
      "name": "Validar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst products = data.products;\nconst integrations = data.integrations;\n\nconst envios = [];\n\nproducts.forEach(product => {\n  integrations.forEach(integration => {\n    envios.push({\n      ...product,\n      integrationId: integration.id,\n      integrationName: integration.name,\n      integrationToken: integration.token,\n      chatId: data.chatId\n    });\n  });\n});\n\nreturn envios.map(e => ({ json: e }));"
      },
      "id": "5a6623ce-5db8-4ecf-90e4-c2e3cd3a8000",
      "name": "Preparar Envios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $input.item.json;\n\nconst produtoFormatado = {\n  nome: p.nome || '',\n  codigo: p.codigo || '',\n  preco: parseFloat(p.preco) || 0,\n  tipo: p.tipo || 'P',\n  situacao: p.situacao || 'A',\n  formato: p.formato || 'S',\n  unidade: p.unidade || 'UN',\n  pesoLiquido: parseFloat(p.pesoLiquido) || 0,\n  pesoBruto: parseFloat(p.pesoBruto) || 0,\n  volumes: parseInt(p.volumes) || 1,\n  itensPorCaixa: parseInt(p.itensPorCaixa) || 1,\n  gtin: p.gtin || '',\n  gtinEmbalagem: p.gtinEmbalagem || '',\n  marca: p.marca || '',\n  descricaoCurta: p.descricaoCurta || '',\n  freteGratis: p.freteGratis || false,\n  dimensoes: p.dimensoes || {},\n  tributacao: p.tributacao || {},\n  variacoes: p.variacoes || [],\n  integrationId: p.integrationId,\n  integrationName: p.integrationName,\n  integrationToken: p.integrationToken,\n  chatId: p.chatId\n};\n\nreturn { json: produtoFormatado };"
      },
      "id": "619d38e8-0698-42ea-a44b-aed40fdafe0b",
      "name": "Formatar Produto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.variacoes && $json.variacoes.length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "971e2b85-2198-4527-a3c6-623bf52aebd1",
      "name": "Tem Variações?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        368,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $json;\n\nif (!p.variacoes || !Array.isArray(p.variacoes) || p.variacoes.length === 0) {\n  throw new Error('❌ Sem variações');\n}\n\nconst tiposVariacao = new Set();\np.variacoes.forEach(v => {\n  const variacaoNome = v.variacao?.nome || '';\n  if (variacaoNome) {\n    variacaoNome.split(';').forEach(part => {\n      const [tipo] = part.split(':');\n      if (tipo) tiposVariacao.add(tipo.trim());\n    });\n  }\n});\n\nconst primeiroTipo = Array.from(tiposVariacao)[0] || 'Tamanho';\n\nconst variacoesArray = p.variacoes.map(v => ({\n  nome: p.nome,\n  codigo: v.codigo,\n  preco: parseFloat(v.preco) || 0,\n  tipo: \"P\",\n  situacao: \"A\",\n  formato: \"S\",\n  unidade: v.unidade || \"UN\",\n  pesoLiquido: parseFloat(v.pesoLiquido) || 0,\n  pesoBruto: parseFloat(v.pesoBruto) || 0,\n  volumes: parseInt(v.volumes) || 1,\n  itensPorCaixa: parseInt(v.itensPorCaixa) || 1,\n  gtin: v.gtin || '',\n  gtinEmbalagem: v.gtinEmbalagem || '',\n  marca: p.marca || '',\n  descricaoCurta: p.descricaoCurta || '',\n  descricaoComplementar: p.descricaoComplementar || '',\n  categoria: p.categoria || {},\n  tributacao: p.tributacao || {},\n  dimensoes: v.dimensoes || {},\n  variacao: {\n    nome: v.variacao?.nome || '',\n    produtoPai: { cloneInfo: false }\n  }\n}));\n\nconst productBody = {\n  nome: p.nome,\n  codigo: p.codigo,\n  preco: 0,\n  tipo: \"P\",\n  situacao: \"A\",\n  formato: \"V\",\n  unidade: p.unidade || \"UN\",\n  marca: p.marca || '',\n  descricaoCurta: p.descricaoCurta || '',\n  descricaoComplementar: p.descricaoComplementar || '',\n  categoria: p.categoria || {},\n  tributacao: p.tributacao || {},\n  dimensoes: p.dimensoes || {},\n  variacao: { nome: primeiroTipo },\n  variacoes: variacoesArray\n};\n\nreturn {\n  productBody,\n  productCode: p.codigo,\n  productName: p.nome,\n  integrationId: p.integrationId,\n  integrationName: p.integrationName,\n  integrationToken: p.integrationToken\n};"
      },
      "id": "14e4304a-0039-4e63-bade-77d4a08a889f",
      "name": "JSON com Variações",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $json;\n\nconst productBody = {\n  nome: p.nome,\n  codigo: p.codigo,\n  preco: parseFloat(p.preco) || 0,\n  tipo: p.tipo || 'P',\n  situacao: p.situacao || 'A',\n  formato: 'S',\n  unidade: p.unidade || 'UN',\n  pesoLiquido: parseFloat(p.pesoLiquido) || 0,\n  pesoBruto: parseFloat(p.pesoBruto) || 0,\n  volumes: parseInt(p.volumes) || 1,\n  itensPorCaixa: parseInt(p.itensPorCaixa) || 1,\n  gtin: p.gtin || '',\n  gtinEmbalagem: p.gtinEmbalagem || '',\n  marca: p.marca || '',\n  descricaoCurta: p.descricaoCurta || '',\n  descricaoComplementar: p.descricaoComplementar || '',\n  freteGratis: p.freteGratis || false,\n  categoria: p.categoria || {},\n  tributacao: p.tributacao || {},\n  dimensoes: p.dimensoes || {}\n};\n\nreturn {\n  productBody,\n  productCode: p.codigo,\n  productName: p.nome,\n  integrationId: p.integrationId,\n  integrationName: p.integrationName,\n  integrationToken: p.integrationToken\n};"
      },
      "id": "16844e53-1c8f-49d3-812e-e8a6c8c76d6d",
      "name": "JSON Produto Simples",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        640
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "945e08c0-f1f7-4764-bc9d-968ea22ffcdf",
      "name": "Guardar Metadados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        768,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bling.com.br/Api/v3/produtos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.integrationToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.productBody) }}",
        "options": {}
      },
      "id": "46d1a369-6c25-463c-90b0-4f00845c3da8",
      "name": "Enviar para Bling",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const blingResponse = $input.item.json;\nconst metadata = $('Guardar Metadados').item.json;\n\nconst result = {\n  productCode: metadata.productCode,\n  productName: metadata.productName,\n  integrationName: metadata.integrationName,\n  blingResponse: blingResponse,\n  status: (blingResponse.data && blingResponse.data.id) ? 'success' : 'error',\n  blingId: blingResponse.data?.id || null,\n  warnings: blingResponse.data?.warnings || [],\n  timestamp: new Date().toISOString()\n};\n\nreturn { json: result };"
      },
      "id": "fb1c7ccb-610f-46c4-a29a-9956b970057d",
      "name": "Processar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        544
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "e43c05ae-02da-4031-aae7-8c5554a7668e",
      "name": "Agregar",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const allData = $input.all().map(item => item.json);\n\nconst resumo = {\n  total: allData.length,\n  sucessos: allData.filter(r => r.status === 'success').length,\n  erros: allData.filter(r => r.status === 'error').length,\n  totalIntegracoes: new Set(allData.map(r => r.integrationName)).size,\n  taxaSucesso: '0%'\n};\n\nresumo.taxaSucesso = `${((resumo.sucessos / resumo.total) * 100).toFixed(1)}%`;\n\nconst detalhes = {\n  sucessos: allData.filter(r => r.status === 'success').map(r => ({\n    nome: r.productName,\n    codigo: r.productCode,\n    integracao: r.integrationName,\n    blingId: r.blingResponse?.data?.id,\n    warnings: r.warnings\n  })),\n  erros: allData.filter(r => r.status === 'error').map(r => ({\n    nome: r.productName,\n    codigo: r.productCode,\n    integracao: r.integrationName,\n    mensagem: r.blingResponse?.error?.message || 'Erro desconhecido'\n  }))\n};\n\nreturn { json: { resumo, detalhes } };"
      },
      "id": "a7bd8562-35e3-4fff-8833-6645a4e17833",
      "name": "Criar Relatório",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        544
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "0530c5e7-b88f-4475-8ef8-37d6a2693625",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        544
      ]
    }
  ],
  "connections": {
    "Enviar ao Bling": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Enviar ao Bling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Dados": {
      "main": [
        [
          {
            "node": "Preparar Envios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Envios": {
      "main": [
        [
          {
            "node": "Formatar Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Produto": {
      "main": [
        [
          {
            "node": "Tem Variações?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Variações?": {
      "main": [
        [
          {
            "node": "JSON com Variações",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JSON Produto Simples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON com Variações": {
      "main": [
        [
          {
            "node": "Guardar Metadados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Produto Simples": {
      "main": [
        [
          {
            "node": "Guardar Metadados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Metadados": {
      "main": [
        [
          {
            "node": "Enviar para Bling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar para Bling": {
      "main": [
        [
          {
            "node": "Processar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resposta": {
      "main": [
        [
          {
            "node": "Agregar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar": {
      "main": [
        [
          {
            "node": "Criar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Relatório": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37f3b259dc4b3f1d3aadd552b04291760b76ad3f0c84f72effa93025444cfbbc"
  }
}